{% extends 'base.html' %}
{% block content%}
<script src="{{url_for('static', filename = 'js/clock.js')}}"></script>
<script src="{{url_for('static', filename = 'js/result.js')}}"></script>
<script src="{{ url_for('static', filename='js/main.js') }}"></script>
<body onload="printClock()" id="contents">
<div class="row">
    <div class="col" id="clock"></div>
</div>
<div id="result">
</div>

<div class="row">
    <div class="col" style="text-align: center;">
        <video autoplay="true" id="videoElement" ></video>
        <div style="display:none;">
            <canvas id="canvasElement"></canvas>
            <img id="photo">
        </div>

    </div>
</div>
<div class="row">
    <div class="col" style="text-align: center;">
        <br>
        <h2>시작을 하시려면 0을 표시하세요</h2>
    </div>
</div>

</body>
{% endblock %}